:root {
    --primary-color: #5E239D;
    --secondary-color: #8760b9;
    --tertiary-color: #481a9c;
    --shadow-color: rgba(0, 0, 0, 0.5);
    --bg-color: #f2e2ff;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    /* border: 1px dotted red; */
}

body {
    background-color: var(--bg-color);
}

/* HEADER STYLES */
header {
    background: var(--primary-color);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: sticky;
    top: 0;
    height: 10%;
    z-index: 9999;
}

header h1 {
    font-size: 40px;
    padding: 20px 40px;
    color: white;
    text-shadow: 5px 5px 2px var(--shadow-color);
}

header nav {
    display: flex;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    vertical-align: middle;
}

header nav ul li {
    margin: 5px;
    padding: 10px;
    border-radius: 15px;
    background: var(--secondary-color);   
}

header nav ul li:hover {
    background: var(--tertiary-color);   
}

header nav ul li a {
    color: white;
    text-decoration: none;
}

/* SECTION STYLES */
section {
    margin: 30px;
    display: flex;
}

section .section-title {
    flex: 20%;
    margin: 10px;
    padding: 10px;
    color: var(--tertiary-color);
    border-right: 5px solid var(--tertiary-color);
    text-align: right;
    font-size: 30px;
}

.section-content {
    flex: 90%;
}

.section-content > * {
    width: 80%;
    left: 5%;
    position: relative;
}

/* ABOUT ME STYLES */
.about-me .section-content > *{
    display: flex;
    justify-content: space-around;
    margin: 20px 0;
}

.about-me p {
    font-size: 20px;
    color: var(--primary-color);
    padding-right: 20px;
}

.about-me img {
    border: 3px solid var(--tertiary-color);
    border-radius: 25px;
}

/* WORK STYLES */
@keyframes overlay-fade-in {
    from {opacity: 0;}
    to {opacity: 0.5;}
}

@keyframes overlay-fade-out {
    from {opacity: 0.5;}
    to {opacity: 0;}
}

.work a {
    display: block;
    border: 3px solid var(--secondary-color);
    position: relative;
    text-decoration: none;
    display:inline-block;
}

.work a .layer {
    background: var(--secondary-color);
    opacity: 0.5;
    height: 100%;
    animation-name: overlay-fade-in;
    animation-duration: 300ms;
}

.work a:hover .layer {
    animation-name: overlay-fade-out;
    animation-duration: 300ms;
    opacity: 0;
}

.small-projects a:first-child{
    margin-right: 10px;
}

.small-projects {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}

.small-projects a {
    flex: 1 50%;
    height: 200px;
}

.big-project, .small-projects {
    position: relative;
    flex: 1 100%;
}

.big-project {
    height: 600px;
}

.project-details {
    position: absolute;
    bottom: 20px;
    padding: 10px 20px;
    display: inline-block;
    background: var(--secondary-color);
    z-index: 20;
    color: white;
    max-width: 50%;
    max-height: 60%;
}

.project-details h3 {
    font-size: 28px;
    text-shadow: 5px 5px 2px var(--shadow-color);
    text-align: center;
}

.run-buddy {
    background: url(../images/run-buddy-demo.png);
    background-size: cover;
    background-position: center;
}

.sludge-central {
    background-image: url(../images/sludge-central-demo.png);
    background-size: cover;
}

.group-project-1 {
    background-image: url(../images/group-project-1-demo.png);
    background-size: cover;
}

.placeholder {
    background-image: url(../images/placeholder-demo.png);
    background-size: cover;
}

/* CONTACT ME STYLES */
.contact-me .section-content {
    display: flex;
    justify-content: space-between;
}

.contact-me .section-content > * {
    margin: auto;
}

.contact-me .section-content p, .contact-me .section-content a {
    color: var(--primary-color);
    text-decoration: none;
    font-size: 25px;
    font-weight: bold;
}

@media screen and (max-width: 1600px) {
    .project-details h3 {
        font-size: 23px;
    }
}

@media screen and (max-width: 1400px) {
    .project-details {
        max-width: 80%;
        width: 100%;
    }
}

@media screen and (max-width: 980px) {
    p {
        text-align: center;
    }

    header {
        padding-bottom: 0;
        justify-content: center;
        position: relative;
    }

    header h1 {
        width: 100%;
        text-align: center;
    }

    header nav ul {
        margin-bottom: 15px;
    }

    section {
        flex-wrap: wrap;
    }

    section .section-title {
        border-right: none;
        border-bottom: 5px solid var(--tertiary-color);
        text-align: center;
    }

    .section-content > * {
        width: 100%;
        left: 0%;
        flex: 100%;
    }

    .project-details {
        text-align: center;
        max-width: 100%;
        width: 100%;
        padding: 5px;
    }

    .project-details h3 {
        font-size: 25px;
    }

    .small-projects a {
        height: 300px;
    }

    .big-project {
        height: 400px;
    }

    .contact-me .section-content {
        flex-wrap: wrap;
        text-align: center;
    }
}

@media screen and (max-width: 600px) {
    .about-me .section-content > *{
        flex-wrap: wrap;
    }

    .about-me p{
        margin: 0;
    }

    .about-me img{
        margin-top: 20px;
        width: 50%;
    }
}